<!-- https://coolors.co/palette/0c120c-c20114-6d7275-c7d6d5-ecebf3 --->
<style>
  :root {
    --width: 70%;
    --font-main: Verdana, sans-serif;
    --font-secondary: Verdana, sans-serif;
    --font-scale: 1em;
    --background-color: #fff;
    --heading-color: #222;
    --text-color: #444;
    --link-color: #3273dc;
    --visited-color: #8b6fcb;
    --blockquote-color: #222;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --background-color: #0C120C;
      --heading-color: #83A4A2;
      --text-color: #ECEBF3;
      --link-color: #808689;
      --visited-color: #C20114;
      --blockquote-color: #ccc;
    }
  }

  /* Mobile optimization */
  @media (max-width: 768px) {
    :root {
      --width: 100%;
    }

    body {
      padding: 10px;
    }
  }

  /* Hide header */
  header {
    display: none;
  }
</style>
